---
import Layout from '../layouts/Base.astro'
import {API,PHOTOSET2,EXTRAS} from 'astro:env/client'
const apicall= await fetch(`https://www.flickr.com/services/rest/?method=flickr.photosets.getPhotos&api_key=${API}&photoset_id=${PHOTOSET2}&user_id=83528065%40N00&extras=${EXTRAS}&format=json&nojsoncallback=1`)
const results = await apicall.json();
---
<Layout title={results.photoset.title}>
   <div class="grid sm:grid-cols-1 lg:grid-cols-3 lg:gap-2">
        {results.photoset.photo.map((pic) => (
            <photo>
                <a href=`${pic.url_o}`><img src=`${pic.url_m}`></a>
            </photo>
        )
    )}
</div>


</Layout>
